In [14]:
import pandas as pd
import numpy as np

In [4]:
pop_df = pd.read_csv("./West Coast 2023 Datasets/Traffic, Investigations _ Other/philadelphia_population_metrics.csv")

In [11]:
pop_df.head(1)["GEOGRAPHY_NAME"]

0    42101000100
Name: GEOGRAPHY_NAME, dtype: int64

In [7]:
inv_df = pd.read_csv("./West Coast 2023 Datasets/Traffic, Investigations _ Other/investigations.csv")

In [8]:
inv_df.head(1)

,id,datetimeoccur,weekday,location,districtoccur,psa,stoptype,inside_or_outside,gender,race,...,individual_frisked,individual_searched,individual_arrested,individual_contraband,vehicle_frisked,vehicle_searched,vehicle_contraband,lat,lng,fips
0,1767776,2014-05-14 00:00:00+00,TUESDAY,300 BLOCK S 13TH ST,6,3,pedestrian,Outside,Male,Black - Non-Latino,...,0,0,0,0,0,0,0,39.946671,-75.162656,4.210100e+11

In [16]:
inv_df["fips"] = inv_df["fips"].astype('Int64')

In [17]:
inv_df.head(1)

,id,datetimeoccur,weekday,location,districtoccur,psa,stoptype,inside_or_outside,gender,race,...,individual_frisked,individual_searched,individual_arrested,individual_contraband,vehicle_frisked,vehicle_searched,vehicle_contraband,lat,lng,fips
0,1767776,2014-05-14 00:00:00+00,TUESDAY,300 BLOCK S 13TH ST,6,3,pedestrian,Outside,Male,Black - Non-Latino,...,0,0,0,0,0,0,0,39.946671,-75.162656,421010011014

In [20]:
groups = inv_df.groupby(['fips'])

roups["gender"]