In [14]:
import pandas as pd
import numpy as np

In [4]:
pop_df = pd.read_csv("./West Coast 2023 Datasets/Traffic, Investigations _ Other/philadelphia_population_metrics.csv")

In [22]:
pop_df.head(1)

,OBJECTID,GEOGRAPHY_NAME,GEOGRAPHY,COUNT_ALL_RACES_ETHNICITIES,COUNT_WHITE_NH,COUNT_BLACK_NH,COUNT_ASIAN_NH,COUNT_HISPANIC,PERCENT_WHITE_NH,PERCENT_BLACK_NH,PERCENT_ASIAN_NH,PERCENT_HISPANIC,Shape__Area,Shape__Length
0,1,42101000100,Census tract,3478,2890,207,173,126,83.093732,5.951696,4.974123,3.622772,1.202257e+06,4528.078584

In [7]:
inv_df = pd.read_csv("./West Coast 2023 Datasets/Traffic, Investigations _ Other/investigations.csv")

In [8]:
inv_df.head(1)

,id,datetimeoccur,weekday,location,districtoccur,psa,stoptype,inside_or_outside,gender,race,...,individual_frisked,individual_searched,individual_arrested,individual_contraband,vehicle_frisked,vehicle_searched,vehicle_contraband,lat,lng,fips
0,1767776,2014-05-14 00:00:00+00,TUESDAY,300 BLOCK S 13TH ST,6,3,pedestrian,Outside,Male,Black - Non-Latino,...,0,0,0,0,0,0,0,39.946671,-75.162656,4.210100e+11

In [16]:
inv_df["fips"] = inv_df["fips"].astype('Int64')

In [17]:
inv_df.head(1)

,id,datetimeoccur,weekday,location,districtoccur,psa,stoptype,inside_or_outside,gender,race,...,individual_frisked,individual_searched,individual_arrested,individual_contraband,vehicle_frisked,vehicle_searched,vehicle_contraband,lat,lng,fips
0,1767776,2014-05-14 00:00:00+00,TUESDAY,300 BLOCK S 13TH ST,6,3,pedestrian,Outside,Male,Black - Non-Latino,...,0,0,0,0,0,0,0,39.946671,-75.162656,421010011014

In [20]:
groups = inv_df.groupby(['fips'])

roups["gender"]